<a href="https://colab.research.google.com/github/ArhamAkhtar/CreditCard_FraudDetection/blob/main/credit_card.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importing the dependencies
import pandas as pd
import numpy as np
from matplotlib import pyplot as pyplot
import io

In [ ]:
ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [ ]:
cd sample_data/

[Errno 2] No such file or directory: 'sample_data/'
/content/sample_data

In [ ]:
ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [ ]:
data=pd.read_csv("/content/creditcard.csv",error_bad_lines=False,sep=',',engine='python',header=None)

In [ ]:
data.describe()

                Time             V1  ...         Amount          Class
count  257457.000000  257457.000000  ...  257456.000000  257456.000000
mean    87384.361404      -0.025913  ...      90.310332       0.001826
std     43797.031127       1.958384  ...     250.352826       0.042688
min         0.000000     -56.407510  ...       0.000000       0.000000
25%     51121.000000      -0.930932  ...       5.990000       0.000000
50%     78814.000000       0.006266  ...      22.950000       0.000000
75%    129987.000000       1.276913  ...      79.200000       0.000000
max    158176.000000       2.454930  ...   19656.530000       1.000000

[8 rows x 31 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 257458 entries, 0 to 257457
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       257458 non-null  object
 1   1       257458 non-null  object
 2   2       257458 non-null  object
 3   3       257458 non-null  object
 4   4       257458 non-null  object
 5   5       257458 non-null  object
 6   6       257458 non-null  object
 7   7       257458 non-null  object
 8   8       257458 non-null  object
 9   9       257458 non-null  object
 10  10      257458 non-null  object
 11  11      257458 non-null  object
 12  12      257458 non-null  object
 13  13      257458 non-null  object
 14  14      257458 non-null  object
 15  15      257458 non-null  object
 16  16      257458 non-null  object
 17  17      257458 non-null  object
 18  18      257458 non-null  object
 19  19      257458 non-null  object
 20  20      257458 non-null  object
 21  21      257458 non-null  object
 22  22      257458 non-null  object
 23  23      257458 non-null  object
 24  24      257457 non-null  object
 25  25      257457 non-null  object
 26  26      257457 non-null  object
 27  27      257457 non-null  object
 28  28      257457 non-null  object
 29  29      257457 non-null  object
 30  30      257457 non-null  object
dtypes: object(31)
memory usage: 60.9+ MB

In [ ]:
data[30].unique()

array(['Class', '0', '1', None], dtype=object)

In [ ]:
features=data.iloc[0,:]

In [ ]:
features

0       Time
1         V1
2         V2
3         V3
4         V4
5         V5
6         V6
7         V7
8         V8
9         V9
10       V10
11       V11
12       V12
13       V13
14       V14
15       V15
16       V16
17       V17
18       V18
19       V19
20       V20
21       V21
22       V22
23       V23
24       V24
25       V25
26       V26
27       V27
28       V28
29    Amount
30     Class
Name: 0, dtype: object

In [ ]:
data=data.iloc[1:,:]
data.head()

  0                   1                    2   ...                   28      29 30
1  0    -1.3598071336738  -0.0727811733098497  ...  -0.0210530534538215  149.62  0
2  0    1.19185711131486     0.26615071205963  ...   0.0147241691924927    2.69  0
3  1   -1.35835406159823    -1.34016307473609  ...  -0.0597518405929204  378.66  0
4  1  -0.966271711572087   -0.185226008082898  ...   0.0614576285006353   123.5  0
5  2   -1.15823309349523    0.877736754848451  ...    0.215153147499206   69.99  0

[5 rows x 31 columns]

In [ ]:
data.isnull().values.any()

False

In [ ]:
for i in range(1,30):
  data[i]=pd.to_numeric(data[i])

In [ ]:
data.dtypes

0      object
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
17    float64
18    float64
19    float64
20    float64
21    float64
22    float64
23    float64
24    float64
25    float64
26    float64
27    float64
28    float64
29    float64
30     object
dtype: object

In [ ]:
for i in range(30):
  print(features[i],end=" ")
  print(data.iloc[:,i].min(),end=" ")
  print(data.iloc[:,i].max())

Time 0 99999
V1 -56.407509631329 2.45492999121121
V2 -72.7157275629303 22.0577289904909
V3 -33.6809840183525 9.38255843282114
V4 -5.68317119816995 16.8753440335975
V5 -42.1478983728015 34.8016658766686
V6 -26.1605059358433 22.5292984665587
V7 -43.5572415712451 36.877368268259794
V8 -73.21671845526741 20.0072083651213
V9 -13.4340663182301 15.5949946071278
V10 -24.5882624372475 23.7451361206545
V11 -4.79747346479757 12.018913181619899
V12 -18.683714633344298 7.8483920756445995
V13 -5.7918812063208405 4.56900895856606
V14 -19.2143254902614 10.5267660517847
V15 -4.49894467676621 5.82565431863365
V16 -14.1298545174931 8.289889559546191
V17 -25.162799369324798 9.25352625047285
V18 -9.498745921046769 5.04106918541184
V19 -7.21352743017759 5.59197142733558
V20 -28.009635333749 39.4209042482199
V21 -34.8303821448146 27.2028391573154
V22 -10.933143697655 10.5030900899454
V23 -44.807735203791296 22.5284116897749
V24 -2.83662691870341 4.02286589044732
V25 -10.2953970749851 7.51958867870916
V26 -2.60455055280817 3.5173456116237998
V27 -22.5656793207827 12.1524011068287
V28 -11.710895639451499 33.8478078188831
Amount 0.0 19656.53

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data.iloc[:,0:30],data.iloc[:,30:31],random_state=42)

In [ ]:
x_train.shape

(193092, 30)

In [ ]:
x_test.shape

(64364, 30)

In [ ]:
y_train.shape

(193092, 1)

In [ ]:
y_test.shape

(64364, 1)

In [ ]:
x_train.head()

            0         1         2   ...        27        28      29
117629   74745  1.091239 -0.174526  ...  0.045967  0.020932   27.84
137820   82344 -2.798702  2.229295  ... -1.386130 -0.209190    2.50
198360  132455 -1.023177  1.018561  ... -0.023756  0.093438  113.49
131097   79498  1.189336 -0.420636  ...  0.087675  0.026385    1.00
251457  155351  2.113889 -1.237526  ... -0.014087 -0.051158   30.86

[5 rows x 30 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression
lreg=LogisticRegression()
lreg.fit(x_train,y_train)
print("Training data accuracy:%.3f"%lreg.score(x_train,y_train))
print("Testing data accuracy:%.3f"%lreg.score(x_test,y_test))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Training data accuracy:0.999
Testing data accuracy:0.999

In [ ]:
data.shape

(257456, 31)

In [ ]:
data.isnull().values.any()

False

In [ ]:
data.isnull().sum().sum()

0

**We need to scale our data**

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(x_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [ ]:
x_train_scaled=scaler.transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [ ]:
lreg.fit(x_train_scaled,y_train)
print("Training data accuracy:%.3f"%lreg.score(x_train_scaled,y_train))
print("Testing data accuracy:%.3f"%lreg.score(x_test_scaled,y_test))

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Training data accuracy:0.999
Testing data accuracy:0.999

In [ ]:
y_test_predicted=lreg.predict(x_test_scaled)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_test_predicted)

array([[64248,    10],
       [   45,    61]])

**Precision=TP/(TP+FP)**

In [ ]:
64248/(64248+45)

0.9993000793243433

**Here,precision is 1**

**Recall=TP/(TP+FN)**

In [ ]:
64248/(64248+10)

0.9998443773537925

**Recall is also 1. So,we can sy that our model is giving acccurate results**

**END**

****